<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Trackin Home</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Trackin Home</h1>
	<br/>
	<div id="root-trackin-home"></div>
	
    <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.3/require.min.js"></script>
    <script src="https://npmcdn.com/babel-core@5.8.38/browser.min.js"></script>
	<script type="text/javascript" th:src="@{webpack/trackinHome.js}"></script>
    
</body>
</html>
